body {
    margin: 0;
}

.card {
    /* height: 80vh; */
    background-color: cyan;
}

.container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);

    gap: 1.2em;
    margin: 4em;
}
