body {
    margin: 0;
    font-family: monospace;
    font-size: 1rem;

}

.wrapper {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.card {
    /* background-color: cyan; */
    width: 280px;
    height: 320px;
    margin-top: 40px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.11);
    padding: 10px;
    margin-right: 20px;
    background-color: white;

    display: none;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

/****************** ICONS ******************/

.create-icon {
    font-size: 1.5rem;
    color: #1a9f23;
    display: block;
    margin: 10px 0;
}


.icons__details {
    color: #1a839f;
    padding-right: 10px;
}

.icons__edit {
    color: #1a9f23;
    padding-right: 10px;
}

.icons__delete {
    color: #9f391a;
    padding-right: 10px;
}


/****************** TABLE ******************/
table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    word-wrap: break-word;

}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    
}

table tr:hover {
    background-color: #f0f0f03d;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #21b1d9;
    color: white;
}